<!DOCTYPE html>
<html>

<body>

    <h1>Class</h1>
    <p>Hi {{username}}</p>
    <div>
        <nav>
            <input type="button" onclick="location.href='logout'" value="Logout"></input>
        </nav>
    </div>
    <div class="side-menu" style="line-height:30px; height:300px; width:100px; float:left; padding:5px; ">
        <aside>
            <a href="/class">class</a><br>
            <a href="/todolist">todolist</a><br>
            <a href="/attendance">attendance</a><br>
            <a href="/summary">summary</a><br>
            <a href="/qa">qa</a><br>
        </aside>
    </div>
    <div style=" width:350px;float:left; padding:10px; "></div>
    {% if user_status == 1%}
    <input type="button" onclick="location.href='class/create'" value="create class"></input>
    {% endif %}
    {% for item in all_class %}
    <div style=" width:350px;
        float:left;
        padding:10px; border-width:2px;border-style:dashed;border-color:#FFAC55;padding:5px;">
        <p>Classname: {{item['classname']}}</p>
        <p>Payment per hour: {{item['payment_hrs']}}</p>
        <p>Payment per time: {{item['payment_time']}}</p>
        {% if user_status == 1%}
        <input type="button" onclick="location.href='class/addmember'" value="+ member"></input>
        <button type="button" id="delete" value={{item['classid']}}>delete</button>
        {% endif%}
    </div>
    {% endfor %}
    </div>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        jQuery(function ($) {
            $("[id=delete]").on("click", function (e) {
                e.preventDefault();
                swal({
                    title: "Are you sure?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: false
                })
                    .then(() => {
                        var deleteClassID = $(this).attr('value');
                        $.ajax({
                            url: '/class/delete',
                            method: 'DELETE',
                            header: {
                                Accept: 'application/json; charset=UTF-8'
                            },
                            contentType: 'application/json; charset=UTF-8',
                            dataType: 'json',
                            data: JSON.stringify({ 'classid': deleteClassID }),
                            success: function () {
                                location.reload(true);
                            }
                        });
                    });
            });
        })
    </script>
</body>

</html>