.banner {
  font-size: 60px;
  font-weight: bold;
  margin-top: 8vh;
}

.subtitle {
  font-size: 30px;
  font-weight: 300;
  color: grey;
}

.avatar {
  margin-top: 10vh;
  width: 15vw;
}

.sidebar {
  position: fixed;
  background-color: #fafbfc;
  top: 100px;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  width: 8vh;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.secondbar {
  position: fixed;
  background-color: #f0f0fc !important;
  top: 100px;
  bottom: 0;
  left: 3vw !important;
  min-height: 100vh !important;
  width: 15vw !important;
  z-index: 50 !important;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media(max-width: 768px){
  .secondbar {
    width: 50vw !important;
  }
}

.secondnav-title {
  color: black;
  font-weight: 750;
  font-size: 25px;
} 

.secondnav-link {
  font-weight: 400;
  font-size: 20px;
} 

#sidebar-wrapper{
  min-height: 100vh !important;
  width: 100vw;
  margin-left: -1rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}