.login-form {
  margin-top: 80px;
  border-radius: 15px;
}

.banner {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5vh;
}

.errorMsg {
  color: orangered;
  font-size: 12px;
  font-weight: bold;
  margin-top: 2px;
  padding-left: 10px;
}

.modal-content {
  border-radius: 15px;
}