.App {
  background-color: #fafbfc;
}

.logo {
  font-size: 40px;
  font-weight: bold;
}

.btn-nav {
  font-size: 90%;
  color: #7b68ee;
  width: 6em;
  background-color: transparent;
  border-color: #7b68ee;
  border-radius: .5em;
  border-width: .2em;
}

.main {
  height: 100vh;
  background-color: #fafbfc;
  background: linear-gradient(to bottom, #fafbfc 0%, #fafbfc 50%, #f0f0fc 50%, #f0f0fc  100%);
}

.nav-main {
  background-color: #fafbfc;
}

.btn-submit {
  background-color: #7b68ee;
  width: 100%;
  font-size: 20px;
}

.inputbar {
  -webkit-appearance: none;
  border: none;
  border-radius: 5px;
  background: #fafbfc;
  box-shadow: 7px 7px 14px #cfcfcc, -7px -7px 14px #ffffff;
}

.form-label {
  font-size: 25px;
  font-weight: 250px;
}

.form-check {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}