<!DOCTYPE html>
<html>

<body>

    <h1>Create Class</h1>
    <form id="create_class_form" name="create_class_form" action="/class/create" method="post">

        <p>Classname:</p>
        <p><input type="text" name="classname"></p>
        <p>Start Date:</p>
        <p><input type="date" id="startdate" name="startdate"></p>
        <p>End Date:</p>
        <p><input type="date" id="enddate" name="enddate"></p>

        <p>Time:</p>
        <p><input type="checkbox" name="weekday" id="ck1" value='MON'> Monday <input type="time" name="starttime"
                id="starttime1" style="display:none;"><input type="time" name="endtime" id="endtime1"
                style="display:none;"></p>
        <p><input type="checkbox" name="weekday" id="ck2" value='TUE'> Tuesday <input type="time" name="starttime"
                id="starttime2" style="display:none;"><input type="time" name="endtime" id="endtime2"
                style="display:none;"></p>
        <p><input type="checkbox" name="weekday" id="ck3" value='WED'> Wednesday <input type="time" name="starttime"
                id="starttime3" style="display:none;"><input type="time" name="endtime" id="endtime3"
                style="display:none;"></p>
        <p><input type="checkbox" name="weekday" id="ck4" value='THU'> Thursday <input type="time" name="starttime"
                id="starttime4" style="display:none;"><input type="time" name="endtime" id="endtime4"
                style="display:none;"></p>
        <p><input type="checkbox" name="weekday" id="ck5" value='FRI'> Friday <input type="time" name="starttime"
                id="starttime5" style="display:none;"><input type="time" name="endtime" id="endtime5"
                style="display:none;"></p>
        <p><input type="checkbox" name="weekday" id="ck6" value='SAT'> Saturday <input type="time" name="starttime"
                id="starttime6" style="display:none;"><input type="time" name="endtime" id="endtime6"
                style="display:none;"></p>
        <p><input type="checkbox" name="weekday" id="ck7" value='SUN'> Sunday <input type="time" name="starttime"
                id="starttime7" style="display:none;"><input type="time" name="endtime" id="endtime7"
                style="display:none;"></p>

        <p>Payment per hour:</p>
        <p><input type="text" name="payment_hrs"></p>
        <p>Payment per time:</p>
        <p><input type="text" name="payment_time"></p>
        <p><input type="submit" id="create" value="create"></p>
    </form>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script>
        jQuery(function ($) {
            $(document).ready(function () {
                $("#ck1").click(function () {
                    $("#starttime1").toggle();
                    $("#endtime1").toggle();
                });
            });
            $(document).ready(function () {
                $("#ck2").click(function () {
                    $("#starttime2").toggle();
                    $("#endtime2").toggle();
                });
            });
            $(document).ready(function () {
                $("#ck3").click(function () {
                    $("#starttime3").toggle();
                    $("#endtime3").toggle();
                });
            });
            $(document).ready(function () {
                $("#ck4").click(function () {
                    $("#starttime4").toggle();
                    $("#endtime4").toggle();
                });
            });
            $(document).ready(function () {
                $("#ck5").click(function () {
                    $("#starttime5").toggle();
                    $("#endtime5").toggle();
                });
            });
            $(document).ready(function () {
                $("#ck6").click(function () {
                    $("#starttime6").toggle();
                    $("#endtime6").toggle();
                });
            });
            $(document).ready(function () {
                $("#ck7").click(function () {
                    $("#starttime7").toggle();
                    $("#endtime7").toggle();
                });
            });
            $("#create").on("click", function (e) {
                e.preventDefault();
                var startdate = $('#startdate').val();
                var enddate = $('#enddate').val();
                var starttime1 = $('#starttime1').val();
                var starttime2 = $('#starttime2').val();
                var starttime3 = $('#starttime3').val();
                var starttime4 = $('#starttime4').val();
                var starttime5 = $('#starttime5').val();
                var starttime6 = $('#starttime6').val();
                var starttime7 = $('#starttime7').val();
                var endtime1 = $('#endtime1').val();
                var endtime2 = $('#endtime2').val();
                var endtime3 = $('#endtime3').val();
                var endtime4 = $('#endtime4').val();
                var endtime5 = $('#endtime5').val();
                var endtime6 = $('#endtime6').val();
                var endtime7 = $('#endtime7').val();
                var a = 0;
                if (startdate != 0 && enddate != 0) {
                    if (startdate >= enddate) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }
                if (starttime1 != 0 && endtime1 != 0) {
                    if (starttime1 >= endtime1) {
                        var a = 1;
                        alert('Time input error.')
                    }
                }
                if (starttime2 != 0 && endtime2 != 0) {
                    if (starttime2 >= endtime2) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }
                if (starttime3 != 0 && endtime3 != 0) {
                    if (starttime3 >= endtime3) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }
                if (starttime4 != 0 && endtime4 != 0) {
                    if (starttime4 >= endtime4) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }
                if (starttime5 != 0 && endtime5 != 0) {
                    if (starttime5 >= endtime5) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }
                if (starttime6 != 0 && endtime6 != 0) {
                    if (starttime6 >= endtime6) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }
                if (starttime7 != 0 && endtime7 != 0) {
                    if (starttime7 >= endtime7) {
                        var a = 1;
                        alert('Date input error.')
                    }
                }

                if (a == 0) {
                    document.create_class_form.submit();
                }
            });


        });
    </script>
</body>

</html>