<!DOCTYPE html>
<html>

<body>

    <h1>Status</h1>
    <form action="/status" method="post">

        <p>Status:</p>
        {% if status_tutor %}
        <p><input type="radio" name="user_status" value=1> tutor</p>
        {% endif %}
        {% if status_student %}
        <p><input type="radio" name="user_status" value=2> student</p>
        {% endif %}
        {% if status_parents %}
        <p><input type="radio" name="user_status" value=3> parents</p>
        {% endif %}

        <p><input type="submit" value="confirm"></p>

    </form>
</body>

</html>