<!DOCTYPE html>
<html>

<body>

    <h1>Todolist</h1>
    <p>Hi {{username}}</p>
    <div>
        <nav>
            <input type="button" onclick="location.href='/logout'" value="Logout"></input>
        </nav>
    </div>
    <div class="side-menu"
        style="line-height:30px; height:300px; width:100px; float:left; padding:5px;     vertical-align: baseline;">
        <aside>
            <a href="/class">class</a><br>
            <a href="/todolist">todolist</a><br>
            {% for item in class_list %}

            <li><a>{{item}}</a>
                <ul><a href="todolist/upcoming?classid={{class_list[item]}}">upcoming</a></ul>
                <ul><a href="todolist/done?classid={{class_list[item]}}">done</a></ul>
            </li>
            {% endfor %}
            <a href="/attendance">attendance</a><br>
            <a href="/summary">summary</a><br>
            <a href="/qa">qa</a><br>
        </aside>
    </div>
    <main style=" width:350px;float:left; padding:10px; ">
        {% if todo_item %}
        <p>Classname: {{classname}}</p>
        {% if user_status == 1 %}
        <input type="button" onclick="location.href='todolist/upcoming'" value="+ todo"></input>
        {% endif %}
        {% for item in todo_item %}
        <div style=" width:350px;
        float:left;
        padding:10px; border-width:2px;border-style:dashed;border-color:#FFAC55;padding:5px;">
            <p>{{item['date']}}</p>
            <p>{{item['weekday']}}</p>
            <p>{{item['starttime']}}</p>
            <p>{{item['endtime']}}</p>
            <p>lesson: {{item['lesson']}}</p>
            <p>hw: {{item['hw']}}</p>
            <button type="button" id="finished" value={{item['classtimeID']}}>finished</button>
            {% if user_status == 1 %}
            <button type="button" id="info" date={{item['date']}} weekday={{item['weekday']}}
                starttime={{item['starttime']}} endtime={{item['endtime']}} lesson={{item['lesson']}} hw={{item['hw']}}
                value={{item['classtimeID']}}>info</button>
            <button type="button" id="delete" value={{item['classtimeID']}}>delete</button>
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </main>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        jQuery(function ($) {
            $("[id=finished]").on("click", function (e) {
                e.preventDefault();
                var classtimeID = $(this).attr('value');
                $.ajax({
                    url: '/todolist/upcoming/finished',
                    method: 'POST',
                    header: {
                        Accept: 'application/json; charset=UTF-8'
                    },
                    contentType: 'application/json; charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify({ 'classtimeid': classtimeID }),
                    success: function () {
                        location.reload(true);
                    }
                });
            }),
                $("[id=delete]").on("click", function (e) {
                    e.preventDefault();
                    swal({
                        title: "Are you sure?",
                        icon: "warning",
                        buttons: true,
                        dangerMode: false
                    })
                        .then(() => {
                            var deleteClasstimeID = $(this).attr('value');
                            $.ajax({
                                url: '/todolist/upcoming/delete',
                                method: 'DELETE',
                                header: {
                                    Accept: 'application/json; charset=UTF-8'
                                },
                                contentType: 'application/json; charset=UTF-8',
                                dataType: 'json',
                                data: JSON.stringify({ 'classtimeid': deleteClasstimeID }),
                                success: function () {
                                    location.reload(true);
                                }
                            });
                        });
                }),
                $("[id=info]").on("click", function (e) {
                    e.preventDefault();
                    var classtimeID = $(this).attr('value');
                    var date = $(this).attr('date');
                    var weekday = $(this).attr('weekday');
                    var starttime = $(this).attr('starttime');
                    var endtime = $(this).attr('starttime');
                    var lesson = $(this).attr('lesson');
                    var hw = $(this).attr('hw');
                    // $.ajax({
                    //     url: '/todolist/upcoming',
                    //     method: 'PUT',
                    //     dataType: 'json',
                    //     data: JSON.stringify({
                    //         'classtimeid': classtimeID,
                    //         'classid': classid,
                    //         'date': date,
                    //         'weekday': weekday,
                    //         'starttime': starttime,
                    //         'endtime': endtime,
                    //         'lesson': lesso,
                    //         'hw': hw
                    //     }),
                    //     success: function () {
                    //         location.reload(true);
                    //     }
                    // });
                });
        })
    </script>
</body>

</html>