<!DOCTYPE html>
<html>

<body>

    <h1>Create Todo</h1>
    <form id="create_todo_form" name="create_todo_form" action="/todolist/upcoming" method="post">

        <p>Date: <input type="date" id="date" name="date"></p>
        <p>From: <input type="text" id="starttime" name="starttime"></p>
        <p>To: <input type="text" id="endtime" name="endtime"></p>
        <p>Lesson: <input type="text" name="lesson"></p>
        <p>Hw: <input type="text" name="hw"></p>
        <p><input type="submit" id="create" value="create"></p>
    </form>
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script>
        jQuery(function ($) {
            $("#create").on("click", function (e) {
                e.preventDefault();
                var starttime = $('#starttime').val();
                var endtime = $('#endtime').val();
                var a = 0;
                if (starttime != 0 && endtime != 0) {
                    if (starttime >= endtime) {
                        var a = 1;
                        alert('Time input error.')
                    }
                }
                if (a == 0) {
                    document.create_todo_form.submit();
                }
            });
        });
    </script>
</body>

</html>