a {
    font-size: 20px;
    font-weight: 300;
    color: #7b68ee;
  }
  
  .login-form {
    margin-top: 50px;
  }
  
  .banner {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5vh;
  }

  .Top{
    margin-left : 10px
  }

#attendance .col-md-12 {
  border:2px #f0f0fc solid;
  border-radius:10px;
  background-color:#f0f0fc;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 7px 7px 14px #cfcfcc, -7px -7px 14px #ffffff;
}
#attendance .col-md-1\ check\ col{
  display:center;
}
#attendance svg{
  display: block;
  margin:0 auto;
  /* color: #7b68ee; */
}

#record{
  float:right;
  background-color: #7b68ee;
  border-radius:10px;
  border-color:#7b68ee ;
  position: fixed;
  bottom: 40px;
  right: 40px; 
  box-shadow: 7px 7px 14px #cfcfcc, -7px -7px 14px #ffffff;
}

.modal-content {
  width:600px; 
  border-radius:10px;
}

#modal-button-create{
  float:right;
  background-color: #7b68ee;
  border-radius:10px;
  border-color:#7b68ee ;
}


#modal-button-cancel{
  float:right;
  border-radius:10px;
  /* background-color: #f0f0fc;
  border-color:#f0f0fc ; */
}

#note{
  background-color: #f0f0fc;
  margin-top: 5px;
}